@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%);
        --global-bg: #07151b;
        --global-color: #f0f0f0;
    }

    html {
        font-family: system-ui, sans-serif;
        background: var(--global-bg);
        background-size: 224px;
        color: var(--global-color);
    }

    main, footer {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        line-height: 1.6;
    }

    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-2xl font-bold;
    }

    a {
        @apply underline text-orange-400 underline-offset-4 hover:text-teal-500 transition-colors
    }
}
