---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue';
---

<Layout title="About Me">
    <Header />

    <h1>About meeeee</h1>

    <p>Much more text</p>
</Layout>
