---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome">
    <h1>Hi, I'm <span class="text-gradient">Roman</span></h1>

    <p>
        I'm a part-time-nerd, merging product and engineering knowledge to build
        awesome stuff. There's a full section about myself.
    </p>
    <a href="/about">About me</a>
</Layout>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
