---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.vue';
---

<Layout title="Welcome">
    <h1 class="mt-16 mb-8">
        Hi, I'm <span
            class="bg-clip-text text-transparent bg-gradient-to-tr from-teal-400 via-orange-400 to-violet-200"
            >Roman</span
        >
    </h1>

    <p class="">
        I'm a part-time-nerd, merging product and engineering knowledge to build
        awesome stuff. There's a full section about myself.
        <a href="/about">About me</a>
    </p>

    <h2 class="mt-8">You can find me here:</h2>

    <ul>
        <li>LinkedIn: ...</li>
        <li>Fediverse: ...</li>
        <li>Github: ...</li>
    </ul>

    <h2 class="mt-8">I also make some stuff</h2>

    <div class="grid grid-cols-2 gap-4 mt-8">
        <Card client:load title="Managers Toolkit">
            Here's a short description
        </Card>

        <Card client:load title="Managers Toolkit">
            Here's a short description
        </Card>

        <Card client:load title="Managers Toolkit">
            Here's a short description
        </Card>
    </div>
</Layout>
