@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility gradient-text {
  @apply bg-linear-to-tr from-teal-400 via-orange-400 to-violet-200 bg-clip-text text-transparent;
}

@utility separator {
  background-image: url('/line.svg');
  @apply my-16 h-4 bg-repeat-x;

  &:hover {
    background-image: url('/line-hover.svg');
  }
}

@utility cursor-cool {
  cursor:
    url('/cursor.svg') 33 31,
    auto;
}

@utility prose-links {
  @apply prose-a:cursor-cool prose-a:text-orange-400;
}

@layer base {
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--global-bg: #07151b;
		--global-color: #f0f0f0;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--global-bg);
		background-size: 224px;
		color: var(--global-color);
	}

	main,
	footer {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		line-height: 1.6;
	}

	h1 {
		@apply text-4xl font-bold;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	a {
		@apply text-orange-400 underline underline-offset-4 transition-colors hover:text-teal-500;
	}
}
