@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-white, currentColor);
	}
}

@keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

@utility separator {
	background-image: url('/line.svg');
	@apply my-16 h-4 cursor-wait bg-repeat-x;

	&:hover {
		background-image: url('/line-hover.svg');
		animation: slide 12s linear infinite;
	}
}

@utility cursor-cool {
	cursor:
		url('/cursor.svg') 33 31,
		auto;
}

.title {
	font-family: 'Berkshire Swash', handwriting;
}

@utility prose-links {
	@apply prose-a:cursor-cool;
}

@layer base {
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--global-bg: #eb8c44;
		--global-color: #fff;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--global-bg);
		background-size: 224px;
		color: var(--global-color);
	}

	body {
		@apply border-t-8 border-t-amber-100;
	}

	main {
		@apply text-2xl;
	}

	main p + p {
		@apply mt-6;
	}

	main,
	footer {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		line-height: 1.6;
	}

	h1 {
		@apply text-4xl font-bold;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	a {
		@apply cursor-cool text-amber-100 underline underline-offset-4 transition-colors hover:text-teal-200;
	}
}
