---
interface Props {
    title: string;
    frontmatter?: { title: string; [key: string]: any };
}

const { title, frontmatter } = Astro.props;
import('../styles/base.css');
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Personal website of Roman Kuba, Engineering and Product Leader from Austria"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title || frontmatter?.title} | romankuba.me</title>
        <script defer src="https://cloud.umami.is/script.js" data-website-id="39b1b35a-e8c4-483a-ad25-263ac0a53e4d"></script>
    </head>
    <body>
        <main>
            <slot />
        </main>

        <footer
            class="flex content-evenly border-t border-dashed border-teal-950 mt-16 py-8 hover:border-teal-900 transition-colors"
        >
            <div class="grow-0 w-1/6 text-gray-500">
                No Cookies, no tracking!
            </div>
            <div class="grow text-center">
                Built with ❤️, <a href="https://astro.build/" target="_blank"
                    >Astro</a
                >, <a href="https://vuejs.org/" target="_blank">Vue</a> and <a
                    href="https://tailwindcss.com/"
                    target="_blank">Tailwind</a
                >.
                <br />
                Hosted on <a href="https://www.netlify.com/" target="_blank"
                    >Netlify</a
                >
            </div>
            <div class="grow-0 w-1/6 text-right text-gray-500">&copy; 2024</div>
        </footer>
    </body>
</html>
